.text {
  font-family: var(--font-family-primary);
}

.body24r {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 30%;
}
.body48r {
  font-size: 48px;
  font-weight: 400;
}
.body48m {
  font-size: 48px;
  font-weight: 500;
}
.body56m {
  font-size: 56px;
  font-weight: 500;
}
.buttonSmall {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 10%;
}
.button {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 10%;
}

.button {
  color: var(--color-text-btn);
}
.white {
  color: var(--color-text-white);
}
.gray {
  color: var(--color-text-gray);
}
.accent {
  color: var(--color-text-accent);
}
